<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>HTML5多文件预览上传</title>
		<!-- 引用控制层插件样式 -->
		<link rel="stylesheet" href="__PUBLIC__/Admin/css/zyUpload.css" type="text/css">
		<script type="text/javascript" src="__PUBLIC__/Admin/js/jquery-1.7.2.js"></script>
		<!-- 引用核心层插件 -->
		<script type="text/javascript" src="__PUBLIC__/Admin/js/zyFile.js"></script>
		<!-- 引用控制层插件 -->
		<script type="text/javascript" src="__PUBLIC__/Admin/js/zyUpload.js"></script>
		<!-- 引用初始化JS -->
		<script type="text/javascript" src="__PUBLIC__/Admin/js/demo.js"></script>
	</head>
	<body>
		<h1 style="text-align:center;">上传图片</h1>
	    <div id="demo" class="demo"></div>
	</body>
</html>