<extend name="Public/base" />
<block name="title"><title>文章管理-文章列表</title></block>
<block name="content">
	<div id="content" class="white">
        <h1><img src="__PUBLIC__/Admin/img/icons/posts.png" alt="" /> 文章管理-文章列表</h1>
        <div class="bloc">
		    <div class="title"><a href="__CONTROLLER__/index">文章列表</a> &gt; <a href="__CONTROLLER__/add">添加文章</a></div>
		    <div class="content">
		   	<form method="post" action="">
				<table>
					<thead>
		                <tr>
		                    <th><input type="checkbox" class="checkall"/></th>
		                    <th>缩略图</th>
		                    <th>标题</th>
		                    <th>简介</th>
		                    <th>栏目</th>
		                    <th>标签</th>
		                    <th><img src="__PUBLIC__/Admin/img/th-comment.png" alt="评论" /></th>
		                    <th style="text-align:center;">操作</th>
		                </tr>
		            </thead>
		            <tbody>
		            	<volist name="articlelist" id="vo">
		                <tr>
		                    <td><input type="checkbox" name="id[]" value="{$vo.id}" /></td>
		                    <td class="picture" style="width:100px;"><a href="{$vo.thumbnail}" class="zoombox"><img src="{$vo.thumbnail}" class="thumb" alt="{$vo.title}" /></a></td>
		                    <td><a href="__ROOT__/index.php/Home/Detail/index/id/{$vo.id}" title="{$vo.title}" target="_blank">{$vo.title|mb_substr=0,32,'utf-8'}...</a></td>
		                    <td>{$vo.descript|mb_substr=0,45,'utf-8'}</td>
		                    <td>{$vo.typename}</td>
		                    <td>
		                    <volist name="vo['tags']" id="voo"> 
		                    	<a href="#">{$voo}</a>　
		                    </volist>
		                    </td>
		                    <td>{$vo.comment_count}</td>
		                    <td class="actions"><a href="__CONTROLLER__/edit/id/{$vo.id}" title="Edit this content"><img src="__PUBLIC__/Admin/img/icons/actions/edit.png" alt="修改" /></a>　<a href="__CONTROLLER__/del/id/{$vo.id}" title="Delete this content" onclick="return confirm('你确定要删除这篇文章吗？');"><img src="__PUBLIC__/Admin/img/icons/actions/delete.png" alt="删除" /></a></td>
		                </tr>
		                </volist>
		            </tbody>
				</table>
				<div class="left input">
					<select name="action" id="tableaction">
		                <option value="">Action</option>
		                <option value="delete">Delete</option>
		            </select>
		            <div class="submit">
		            	<input type="submit" value="提交" />
		            </div>
				</div>
				<div class="pagination">
					{$page}
				</div>
			</form>
			</div>
		</div>
	</div>
</block>