<div id="head">
    <div class="left">
        <a href="#" class="button profile"><img src="__PUBLIC__/Admin/img/icons/top/huser.png" alt="" /></a>
        你好, 
        <a href="#">{$user.username}</a>
        |
        <a href="__CONTROLLER__/logout">退出</a>
    </div>
    <div class="right">
        <form action="" method="post" id="search" class="search placeholder">
            <label>请输入关键字...</label>
            <input type="hidden" name="action" value="search" />
            <input type="text" value="" name="q" class="text" />
            <input type="submit" value="rechercher" class="submit" />
        </form>
    </div>
</div>