<extend name="Public/comm" />
<block name="title"><title>网站配置-基础配置</title></block>
<block name="content">
	<script charset="utf-8" src="__PUBLIC__/kindeditor/kindeditor-min.js"></script>
    <script charset="utf-8" src="__PUBLIC__/kindeditor/lang/zh_CN.js"></script>
	<div id="content" class="white">
        <h1><img src="__PUBLIC__/Admin/img/icons/posts.png" alt="" /> 网站配置-基础配置</h1>
        <div class="bloc">
		    <div class="title"><a href="javascript:;">基本配置</a></div>
		    <form method="post" action="">
		    <div class="content">
		    <volist name="configlist" id="vo">
		    <switch name="vo['type']">
		    <case value="1">
	    		<div class="input medium">{$vo.title}：<input type="text" name="{$vo.name}" value="{$vo.value}" /> <em class="red">*</em></div>
	    	</case>
	    	<case value="2">
	    		<div class="input textarea">
		            <span class="middle">{$vo.title}：</span><textarea name="{$vo.name}" rows="3" cols="5">{$vo.value}</textarea>
		        </div>
	    	</case>
	    	<default />
	    		<div class="input medium">{$vo.title}：<input type="text" name="{$vo.name}" value="{$vo.value}" /> <em class="red">*</em></div>
	    	</switch>
	    	</volist>
		        <div class="submit">
		            <input type="submit" value="提交" />
		            <input type="reset" value="重置" class="white"/>
		        </div>
		    </div>
		    </form>
		</div>
	</div>
</block>