<extend name="Public/common" />
<block name="title"><title>网站配置-其他配置</title></block>
<block name="content">
	<script type="text/javascript" src="__PUBLIC__/layer/layer.js"></script>
	<div id="content" class="white">
        <h1><img src="__PUBLIC__/Admin/img/icons/posts.png" alt="" /> 网站配置-其他配置</h1>
        <div class="bloc">
		    <div class="title"><a href="javascript:;">其他配置</a></div>
		    <form method="post" action="">
		    <div class="content">
		    <volist name="configlist" id="vo">
		    <switch name="vo['type']">
		    <case value="1">
	    		<div class="input">{$vo.title}：<input type="text" name="{$vo.name}" value="{$vo.value}" /> <em class="red">*</em> <if condition="$vo['name'] eq WEB_PICMARK_PATH"><a href="javascript:;" class="button" onclick="openUpload();">点击上传</a><img src="{$vo.value}" alt="图片水印" class="mark" /></if></div>
	    	</case>
	    	<case value="2">
	    		<div class="input textarea">
		            <span class="middle">{$vo.title}：</span><textarea name="{$vo.name}" rows="3" cols="5">{$vo.value}</textarea>
		        </div>
	    	</case>
	    	<case value="3">
	    		<div class="input">
		        	{$vo.title}：
		            <label class="new_label"><input type="radio" name="{$vo.name}" value="1" <if condition="$vo['value'] eq 1">checked="checked"</if> />是</label>
		            <label class="new_label"><input type="radio" name="{$vo.name}" value="0" <if condition="$vo['value'] eq 0">checked="checked"</if> />否</label>
		        </div>
	    	</case>
	    	<default />
	    		<div class="input">{$vo.title}：<input type="text" name="{$vo.name}" value="{$vo.value}" /> <em class="red">*</em>
	    		</div>
	    	</switch>
	    	</volist>
		        <div class="submit">
		            <input type="submit" value="提交" />
		            <input type="reset" value="重置" class="white"/>
		        </div>
		    </div>
		    </form>
		</div>
	</div>
	<script type="text/javascript">
		function openUpload(){
			layer.open({
				type:2,
				title:'上传水印图片',
				shadeClose:true,
				shade:0.8,
				area:['450px','240px'],
				content:'__MODULE__/Up/mark',
			});
		}
	</script>
</block>