<extend name="Public/base" />
<block name="title"><title>品牌管理-添加品牌</title></block>
<block name="content">
	<div id="content" class="white">
        <h1><img src="__PUBLIC__/Admin/img/icons/posts.png" alt="" /> 品牌管理-添加品牌</h1>
        <div class="bloc">
		    <div class="title"><volist name="topCates" id="vo"><a href="__CONTROLLER__/index/cid/{$vo.id}">{$vo.name}</a>&nbsp;&gt;&nbsp;</volist><a href="__CONTROLLER__/add">添加品牌</a></div>
		    <form method="post" action="" enctype="multipart/form-data">
		    <div class="content">
	    		<div class="input">品牌标题：<input type="text" name="name" /> <em class="red">*</em></div>
	    		<div class="input">
		            品牌栏目：
		            <select name="cateid" id="cateid">
		            <option value="0">--请选择品牌栏目--</option>
		            <volist name="topCates" id="vo">
		                <option value="{$vo.id}">{$vo.name}</option>
		            </volist>
		            </select> <em class="red">*</em>
		        </div>
				<div class="input">
		            logo　图：<input type="file" name="pic" /> <em class="red">*</em>
		        </div>
		        <div class="input textarea">
		            <span class="middle">品牌简介：</span><textarea name="descript" rows="3" cols="5"></textarea>
		        </div>
		        <div class="submit">
		            <input type="submit" value="提交" />
		            <input type="reset" value="重置" class="white"/>
		        </div>
		    </div>
		    </form>
		</div>
	</div>
</block>