<extend name="Public/base" />
<block name="title"><title>品牌管理-品牌列表</title></block>
<block name="content">
	<div id="content" class="white">
        <h1><img src="__PUBLIC__/Admin/img/icons/posts.png" alt="" /> 品牌管理-品牌列表</h1>
        <div class="bloc">
		    <div class="title"><volist name="topCates" id="vo"><a href="__CONTROLLER__/index/cid/{$vo.id}">{$vo.name}</a>&nbsp;&gt;&nbsp;</volist><a href="__CONTROLLER__/add">添加品牌</a></div>
		    <div class="content">
		   	<form method="post" action="">
				<table>
					<thead>
		                <tr>
		                    <th><input type="checkbox" class="checkall"/></th>
		                    <th>LOGO</th>
		                    <th>名称</th>
		                    <th>描述</th>
		                    <th>排序</th>
		                    <th style="text-align:center;">操作</th>
		                </tr>
		            </thead>
		            <tbody>
		            	<volist name="brandlist" id="vo">
		                <tr>
		                    <td><input type="checkbox" name="id[]" value="{$vo.id}" /></td>
		                    <td class="picture" style="width:100px;"><a href="{$vo.logo}" class="zoombox"><img src="{$vo.logo}" class="thumb" alt="{$vo.name}" /></a></td>
		                    <td>{$vo.name}</td>
		                    <td>{$vo.descript|mb_substr=0,45,'utf-8'}</td>
		                    <td><input type="text" name="sort[{$vo.id}]" class="small" value="{$vo.sort}" /></td>
		                    <td class="actions"><a href="__CONTROLLER__/edit/cid/{$cid}/id/{$vo.id}" title="Edit this content"><img src="__PUBLIC__/Admin/img/icons/actions/edit.png" alt="修改" /></a>　<a href="__CONTROLLER__/del/cid/{$cid}/id/{$vo.id}" title="Delete this content" onclick="return confirm('你确定要删除这个品牌吗？');"><img src="__PUBLIC__/Admin/img/icons/actions/delete.png" alt="删除" /></a></td>
		                </tr>
		                </volist>
		            </tbody>
				</table>
				<div class="left input">
					<select name="action" id="tableaction">
		                <option value="">Action</option>
		                <option value="delete">Delete</option>
		                <option value="sort">Sort</option>
		            </select>
		            <div class="submit">
		            	<input type="submit" value="提交" />
		            </div>
				</div>
				<div class="pagination">
					{$page}
				</div>
			</form>
			</div>
		</div>
	</div>
</block>